.button.company{
    display: block;
    max-width: 5rem;
    text-align: right;
    font-size:.65rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#content .scroll.top-2d5r{
    top: 2.5rem;
}
#content .scroll.top-2d5r .scroll-inner {
    top: -40px;
}