/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    background:white;
    color:black;
    --color-theme:#f2bf07;
    font-family: not specified;
    /* font-family: normal; */
}
body{
    background: #eee;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font-size: 12px;
    /* font:12px \5b8b\4f53,arial,sans-serif; */
    /* font-family: "微软雅黑"; */
}
input,select,textarea {
    font-size:100%;
}
/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
    text-align:inherit;
}
.left{
    float: left;
}
.right{
    float: right;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:none;
    font-variant:normal;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul {
    list-style:none;
}
/* 对齐是排版最重要的因素，别让什么都居中 */
caption,th {
    text-align:left;
}
/* 来自yahoo，让标题都自定义，适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
/*头部背景色*/
.Bcolor{
	background-color: #F3BF06;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
    /*text-decoration:underline;*/
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}
/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}
/* 清除浮动 */
.clear:before,.clear:after {
    content:"";
    display:table;
}
.clear:after {
    clear:both;
    overflow:hidden;
}
.clear {
    zoom:1; /* for ie6 & ie7 */
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.block {
    display:block;
}
/*初始化新标签的CSS.因为HTML5在默认情况下表现为内联元素，对这些元素进行布局我们需要利用CSS手工把它们转为块状元素方便布局*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
::-webkit-scrollbar{width:0px}



.navbar,.bar.bar-header{
    height: 2.5rem;
    background: #f2bf07;
}
.navbar > .navbar-container{
    height: 2.5rem;
}
.bar{
    height: 2.5rem;
}
.bar .title{
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
}
.bar .button-bar>.button, .bar .buttons .button{
    font-size: 0.65rem;
    /* line-height: 40px; */
    max-width: 5rem;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 */}
.page{
    padding-top: 2.5rem;
}
.page.has-navbar .page-content{
    padding-top: 0px;
}



/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
/* .slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter{
    transform: translateX(-5%);
  transform: translateX(5%);
  opacity: 0.5;
}
.slide-fade-leave-to{
    transform: translateX(-10%);
    opacity: 0.5;
} */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-active {
    opacity: 0;
}

.outOf{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

.list-ios .item{
    padding-top: 18px;
}
.list-ios .von-input-wrapper .von-input{
    padding:13px 0;
}
.list-ios .von-input-wrapper .von-input input{
    text-align: right;
    padding-right: 16px;
}
.list-ios .von-input-wrapper .input-clear{
    right: -8px;
    /* display: none; */
}
.list-ios .item .info-list{
    display: flex;
    /* 让子元素左右两边对称 */
    justify-content: space-between;
    /* 令子元素X轴垂直居中 */
    align-items: center;
    color: #666;
}

.maskBlack{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(51,51,51,0.2);
    width: 100vw;
    height: 100vh;
    display: block;
}
.gray{
    color: #aeadac;
}

/* 底部提交按钮 */
/* .button-warp{
    width: 17.75rem;
    height: 1.88rem;
    background-color: #f2be06;
    border-radius: 0.15rem;
    font-size: 0.8rem;
    color:#333;
    position: absolute;
    // bottom: 0.73rem;
    left:50%;
    transform: translate(-50%,0);
    text-align: center;
    line-height:1.88rem;
    bottom:0;
    border:0.5rem solid #eee;
    border-bottom:0.73rem solid #eee;
    box-sizing: content-box;
} */


/* 黑色遮罩 */
#MaskBlack{
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all .1s;
}
#MaskBlack.MaskBlackShow{
    z-index: 20;
    opacity: 1;
}

.modal{
    /* 把元素变成弹性盒子 */
    display: flex;
    /* 令弹性盒子垂直布局 */
    flex-direction: column;
    /* 已元素开始的地方为起点 */
    justify-content: flex-start;
    padding-top: 2.5rem;
}
.item{
    z-index: 0;
}
#order-dim{
    position:fixed;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,.2);
    top:0;
    left:0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 13;
    transition: all .3s ease;
    opacity: 0;
}
#order-dim.show{
    opacity: 1;
}
#order-dim .popup-cpy{
    width:90vw;
    min-height:12rem;
    padding:.5rem 1.6rem;
    background:#fff;
    border-radius: 6px;
    transition: all .3s ease;
    transform: scale3d(.8,.8,1);
    text-align: center;
    color:#666;
}
#order-dim.show .popup-cpy{
    transform: scale3d(1,1,1);
}
#order-dim .popup-cpy .title{
    margin:.6rem 0 1.2rem;
    font-size:.8rem;
}
#order-dim .popup-cpy .text{
    font-size:.75rem;
    width:100%;
    height:6rem;
}
#order-dim .popup-cpy .btn{
    font-size:.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2rem;
    margin: 0 auto;
    border: 1px solid #f3a419;
    border-radius: 6px;
}
