#pickdate{
	width:100%;
	height:2.3rem;
	background:white;
	margin-top:2.75rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	font-size:0.8rem;
	margin-bottom:0.15rem;
	padding:0 1rem;
}
.companyname{
		max-width: 5rem;
	    height: 100%;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	    display: block;
	    line-height: 40px;
	    text-align: right;
	}
.picleft{
	height:100%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
/*.picleft img{
	width:1.25rem;
	height:1.25rem;
	border-radius:50%;
	margin-left:0.75rem;
}
.picleft>div{
	width:1.25rem;
	height:1.25rem;
	margin-left:0.75rem;
	border:1px solid #0a0205;
	border-radius:50%;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size:0.65rem;
}
*/
.picleft>p{
	margin-left:0.25rem;
}
.chosemonths{
	width:6.2rem;
	height:100%;
	display:flex;
	align-items: center;
}
.chosemonth{
	width:6.2rem;
	height:100%;
	margin-right:0.75rem;
	display:flex;
	align-items: center;
}
.allscore>.chosemonth{
	justify-content: flex-end;
}
.allscore{
	width:100%;
	height:2.1rem;
	background:#fafafa;
	display:flex;
	justify-content: space-between;
	align-items: center;
	font-size:0.7rem;
	color:#aaaaaa;
}
.allscore>.picleft>.addsocre{
	margin-left:0.75rem;
}
.allscore>.picleft>.remorescore{
	margin-left:0.75rem;
}
.allscore span{
	margin-left:0.5rem;
}
.intergaltop{
		width:100%;
		margin-top:2.5rem;
		margin-bottom:0.25rem;
		padding:0 1rem;
		background:white;
		font-size:0.75rem;
		position:relative;
	}
	.intergaltops{
		width:100%;
		margin-top:2.5rem;
		margin-bottom:0.25rem;
		padding:0 0.5rem;
		background:white;
		font-size:0.75rem;
		position:relative;
	}
	#content  .scrollout .scroll{
		top:-40px;
	}
	.scrollout{
		position:relative;
		width:100%;
		overflow:hidden;
		font-size:0.7rem;
	}
	.scrollout .intergaltop{
		margin-top:0;
		z-index:333;
	}
	.intergaltop input{
		font-size:0.75rem;
	}
	.intergaltop .pickdates{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		opacity:0;
		z-index:999;
	}
	.intergaltop>div{
		box-sizing: border-box;
		height:2.1rem;
		border-bottom:1px solid #eee;
		display:flex;
		align-items: center;
	}
	.pickdate{
		width:100%;
		height:2.1rem;
		position:relative;
		margin-top:2.5rem;
	}
	.pickdate i{
		position:absolute;
		right:0;
	}
	.intergaltop>div>i{
		margin-right:0.5rem;
	}
	.intergalbom{
		width:100%;
		padding:0 1rem;
		background:white;
		font-size:0.75rem;
	}
	.intergalbom_lates{
		box-sizing: border-box;
		min-height:2.5rem;
		border-bottom:1px solid #eee;
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding:0.1rem 0;
	}
	.times{
		font-size:0.75rem;
		color:#888;
	}
	.texts{
		font-size:0.8rem;
		margin-top:0.3rem;
		color:#111;
	}
	.remarks{
		width:90%;
		word-break:break-all;
		font-size:0.7rem;
		color:#777;
		margin-top:0.05rem;
	}
	
	.Smilingface{
		width:80%;
		height:100%;
		display:flex;
		flex-direction: column;
		justify-content:space-around;
		padding:0.5rem 0;
	}
	.Smilingface>p:not(:first-of-type){
		margin-top:0.2rem;
	}
	.Smilingfaces{
		height:100%;
		display:flex;
		align-items: center;
		justify-content:space-around;
	}
	.Smilingfaces>.nametext{
		margin-left:0.5rem;
	}
	/*.Smilingfaces>p{
		width: 1.25rem;
    	height: 1.25rem;
    	border-radius: 50%;
    	margin-right: 0.5rem;
    	display:flex;
    	justify-content: center;
    	align-items: center;
    	border:1px solid #0a0205;
	}*/
	.intergalbom_lates>p{
		display:flex;
		align-items: center;
		justify-content: flex-end;
	}
	.
	.Smilingface>i{
		margin-right:0.5rem;
		font-size:1.8rem;
	}
	.Smilingface div{
		height:100%;
		display:flex;
		flex-direction: column;
		justify-content: space-between;
	}
	